input{
    border: 1px solid rgb(205, 205, 22);
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    width: 40rem;
    outline: none;
    
}

input::placeholder {
    color: lightgray;
    opacity: 1;
}