.container-list{
    border: 1px solid green;
    padding: 3rem;
}

.section-element{
    display: flex;
    justify-content: space-between;

     button {
    align-self: flex-end;
}
}



.container-add{
    border: 1px solid green;
    padding: 3rem;
}